.vscode/**
.github/**
.vscode-test/**
.vscode-test-web/**
out/**
node_modules/**
src/**
test/**
test-results/**
playwright-report/**
.gitignore
.yarnrc
esbuild.js
playwright.config.cjs
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
dist/extension.js
dist/web/test/**
*.vsix
**/.vscode-test.*
